.start-screen__header {
    padding: 10px 20px 0 20px;
    position: relative;
    max-width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items:center;
}

.logo-wrapper {
    max-width:100px;
    width: 100px;
}
.logo-img {
    width: 100%;
}