.price-list-item {
    display: flex;
    gap:20px;
    justify-content: space-between;
    margin: 10px 0;
    border-bottom: 1px solid #000;
}
.service {
    flex:2;
    color:#1D323F;
}
.price {
    flex:1;
    text-align: right;
    color:#1D323F;
}