.about-screen {
    display:flex;
    flex-direction: column;
}
.content-wrapper {
    background-image: url('../../assets/media//images/aboutBgImage.jpg');
    display: flex;
    flex-direction: column;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px 20px 40px;
}
.abu-list-wrapper {
   
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:10px;
    margin: 5px 0;
}
.abu-list-icon {
    width:10px;
    max-width: 10px;
}
.abu-list-text {
    text-align: left;
    color:#1D323F;
}
.icon-wrapper {
    width: 10px;
    max-width: 10px;
}
.abu-text {
    color:#1D323F;
    padding-top: 10px;
    text-align: left;
    width:400px;
}
@media screen and (max-width: 900px) {
    .abu-text {
        width: 100%;
    }
    .content-wrapper {
        padding: 20px;
    }
}