.title {
    text-align: center;
    margin: 60px 0 0 0;
    padding: 0;
    font-size: 40px;
    font-weight: 900;
    text-decoration: underline;
    color:#1D323F;
}

.text {
    text-align: center;
    margin: 20px 20px 0;
    font-size: 24px;
    line-height: 1.2;
}
.ms-text-1 {
    color:#1D323F;
}
.ms-text-2 {
    color:#1D323F;
    font-weight: 700;
    text-decoration: underline;
}
.img-list {
    max-width:50px;
    width: 50px;
}
.list-text {
    text-align: left;
    
}
.list-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:55px;
    margin: 10px 0;
}
.general-list-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.icon-wrapper {
    width: 50px;
}